[Unit]
Description=Polaris
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/Polaris-by-mahaz
ExecStart=/usr/bin/npm start
Restart=always
RestartSec=5
Environment=NODE_ENV=production
Environment=PORT=3004
EnvironmentFile=-/opt/Polaris-by-mahaz/.env

[Install]
WantedBy=multi-user.target
